#main-header .port-item {
  width: 30%;
  height: 12em;
}

#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

.bg-black {
  color: azure;
  background: #000000;
}

@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important;
  }
}

.project-text {
  border-bottom: 1px solid #979dac;
}

.project-text h3 {
  text-align: center;
}

.project-text h5 {
  margin-bottom: 20px;
  text-align: center;
  color: #979dac;
}

.project-text p {
  text-align: center;
}

.project-text ul li {
  text-align: center;
  list-style: none;
}

.project-img {
  margin-top: 30px;
  text-align: center;
}
